@charset 'UTF-8';

:root{
    --cor1: rgb(50, 8, 90);
    --cor2: rgb(80, 0, 155);
    --cor3: rgb(102, 0, 197);
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    
}
header{
    background-color: var(--cor1);
}
header > h1{
    color: white;
    text-align: center;
    padding: 20px;
}
#burguer{
    background-color: var(--cor1);
    display: block;
    text-align: center;
    color: white;
    padding: 15px;
    cursor: pointer;
}
#burguer:hover{
    background-color: var(--cor2);
}
menu{
    background-color: var(--cor2);
    display: none;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: var(--cor2);
    border-top: 2px solid var(--cor1);
}
menu a:hover{
    background-color: var(--cor3);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
}
article > h2{
    padding-bottom: 25px;
}
article > p{
    text-align: justify;
    margin-bottom: 25px;
    text-indent: 20px;
}