@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: white;
    font: normal bold 1em 'Arial';
    color: white;
}
header{
    color: white;
    background-color: rgba(0, 0, 0, 0.911);
    height: 100px;
}
.menu1{
    height: 0%;
    width: 100%;
    top: 0px;
    left: 0px;
}
.menu1 > .click{
    display: inline-block;
    text-decoration: none;
    padding: 5px 30px;
}
.menu1 > .logo > img{
    display: block;
    width: 50px;
    height: 50px;
}

section{
    background-color: rgba(0, 0, 0, 0.808);
    text-shadow: 1px 1px 2px black;
}
#part1{
    background-image: url();
    background-color: rgb(136, 227, 255);
    background-size: cover;
    background-position: center center;
    min-height: 92vh;
}
#part2{
    background-color: rgb(221, 136, 255);
    background-size: cover;
    min-height: 100vh;
}
#part3{
    background-color: rgb(136, 136, 255);
    background-size: cover;
    min-height: 92vh;
}

footer{
    background-color: rgba(0, 0, 0, 0.911);
    height: 60px;
    color: white;
    font: normal normal 1.1em 'Arial';
    text-align: center;
    padding: 10px;    
}
footer p{
    padding: 20px;
}
