@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: white;
}
header{
    color: white;
    background-color: rgba(0, 0, 0, 0.911);
    height: 75px;
}
nav{
    height: 75px;
}
.menu > a{
    display: inline-block;
    padding: 25px 20px;
    font: normal bold 1em 'Arial';
    text-decoration: none;
    color: white;
}
.menu > a > img{
    width: 50px;
    display: block;
    margin: -90px 900px 0px;
    padding: 2px;
}
.logo{
    border: solid #671E0D;
    border-radius: 50%;    
}
input#pesquisa{
    width: 400px;
    font: normal normal 1.1em 'Arial';
    border: solid rgb(97, 97, 97);
    border-radius: 25px;
    padding: 5px;
    left: 50%;
    bottom: 50%;
    transform: translate(375%, -285%);
}

section{
    background-color: rgba(0, 0, 0, 0.808);
    text-shadow: 1px 1px 2px black;
}
.fastback{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.432);
    width: 600px;
    height: 300px;
    padding: 10px 40px;
    transform: translate(90%, 170%);
}
article h1{
    font: normal bold 3em 'Arial';
    color: white;
    text-align: center;
    line-height: 2em;
}
article p, li{
    font: normal bold 1.8em 'Arial';
    color: white;
    line-height: 1.3em;
}
#part1{
    background-image: url('imagens/fiat-fastback.webp');
    background-size: cover;
    background-position: center center;
    min-height: 92vh;
}
#part2{
    background-color: white;
    background-size: cover;
    min-height: 100vh;
}
#part3{
    background-color: rgb(136, 136, 255);
    background-size: cover;
    min-height: 92vh;
}

footer{
    background-color: rgba(0, 0, 0, 0.911);
    height: 60px;
    color: white;
    font: normal normal 1.1em 'Arial';
    text-align: center;
    padding: 10px;    
}
footer p{
    padding: 20px;
}
