@charset "UTF-8";
@font-face {
    font-family: 'Sigilos';
    src: url('SigilosDoOutroLado-Regular.ttf') format('truetype');
}
body{
    background-image: url(imagens/DiarioDeDeus.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    margin-bottom: 5em;
}
body#principal2{
    background-image: url(imagens/Sangue.jpg);

}
body#principal3{
    background-image: url(imagens/Conhecimento.jpg);

}
body#principal4{
    background-image: url(imagens/Energia.jpg);
}
body#principal5{
    background-image: url(imagens/Morte.png);
}
body#principal6{
    background-image: url(imagens/Medo.jpg);
}
header{
    background-color: rgb(226, 226, 0);
    position: fixed;
    width: 75px;
    height: 2000px;
    top: 0;
    left: 0;
    justify-content: space-between;
}
.hud{
    background-color: rgba(17, 17, 17, 0.87);
    position: absolute;
    width: 300px;
    height: 2190px;
    top: 160px;
    left: 1368px;
    justify-content: space-between;
    color: white;
    font: normal normal 1.5em 'Sigilos';
    text-align: center;
}
header > h3{
    color: rgba(0, 0, 0, 0.904);
    font: normal bold 1em 'Arial';
    text-align: center;
    margin: -5px -10px 0px -10px;
}
.menu2{
    background-color: rgb(236, 33, 33);
}
.menu3{
    background-color: #fcf129;
}
.menu4{
    background-color: rgb(81, 6, 151);
}
.menu5{
    background-color: rgba(219, 219, 219, 0.822);
}
.menu6{
    background-color: rgb(50, 50, 150);
}
main{
    background-color: rgba(31, 31, 31, 0.808);
    text-align: justify;
    width: 800px;
    padding: 40px 40px 40px 40px;
    margin: 161px 30em 0em;
    font: normal normal 1em Arial;
    color: white;
}
.iconeprincipal > a > img{
    border-radius: 100%;
    width: 60px;
    display: block;
    padding: 0em;
    margin: 10px 0px 10px 8px;
}
.hud > nav > a > img{
    border-radius: 50%;
    width: 150px;
    display: block;
    padding: 5px 75px;
    margin: 10px -10x 10px 10px;
}
main > picture > img{
    width: 400px;
    padding: 0px;
    
}