@charset 'UTF-8';

body{
    background-color: rgb(24, 24, 24);
    color: white;
    font: normal bold 2em 'Arial';
}
h1{
    text-align: center;
}
.celular{
    display: block;
    width: 400px;
    height: 700px;
    border: 2px solid rgba(0, 0, 0, 0.685);
    border-radius: 15px;
    margin-left: 100px;
}